ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

ul li a img{
    height: 20rem;
    width: 17rem;
    /* border: 1px solid whitesmoke; */
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
    object-fit: cover;
}


.content{
    height: 10rem;
    width: 17rem;
    /* border: 1px solid whitesmoke;  */
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    color: #e72929;
    /* padding-left: 10px; */
    color: #fff;
    position: relative;
    justify-content: center;
    /* align-items: baseline; */
    align-content: space-between;
    gap: 2px;
}

.name{
    height: 3rem;
}

hr{
    color: #fff;
}

li a:hover{
    opacity: 0.6;
    cursor: pointer;
}

h3{
    margin-left: 20px;
    color: #fff;
    font-weight: bold;
}

.favorite{
    position: absolute;
    /* top: .5rem; */
    right: 1rem;
    font-size: 1.2rem;
}


.moreDetails{
    display: flex;
}

.middle-container a{
    color: white;
}


.cart-btn{
    background-color: #00a8e1;
    color: black;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 15px;
    display: block;
    opacity: .6; 
}

.cart-btn:hover{
    opacity: 1;
}

  .main{
    margin-top: 5rem;
  }

  .tags{
    font-size: 15px;
    color: grey;
  }

  /* .container{} */
  






/* background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(images/banner.png); */


